.component-container {
  display: flex;
  flex-direction: column;
}

.status-bar-container {
  display: flex;
  justify-content: center;
  margin: 5px;
  width: 300px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
}

.status-bar-container > .bar-status {
  display: inline-block;
}

#green-bar {
  width: 0px;
  background-color: green;
}

#red-bar {
  width: 300px;
  background-color: red;
}

#status-number {
  position: absolute;
  align-self: center;
  color: black;
  font-size: 30px;
}

.bar-part {
  height: 50px;
}

.controls-container {
  margin-left: 5px;
}
